<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center-content">

  <div class="content-container">
    <ion-item>
      <ion-input  labelPlacement="floating" 
        placeholder="Ingrese usuario" requiered>
          <div slot="label">Usuario <ion-text></ion-text></div>
        </ion-input>
    </ion-item>
  <ion-button (click)="goToLogin()">Recuperar</ion-button>
</div>
</ion-content>
