<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> RegistrAPP-docente
    <ion-button  class="botoncerrar" mat-menu-item (click)="cerrarSesion()">Cerrar sesion</ion-button>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
   
  <div *ngIf="user"> 
    
    <p>Bienvenido: {{ user?.usuario }}</p>
    <!-- Resto del contenido de la página home -->
  </div>

<ion-card>
<ion-card-title>
  <div *ngIf="asignaturas.length > 0">
    <h2>Asignaturas Asociadas</h2>
  </div>
  </ion-card-title>
  <ion-card-content>
    <ul>
      <li *ngFor="let asignatura of asignaturas" >
        {{ asignatura.nombre }} - {{ asignatura.sigla }} - {{ asignatura.seccion }}
        <ion-button (click)="generarQR(asignatura)">Generar QR</ion-button>
      </li>
    </ul>
  </ion-card-content>
 
</ion-card>

  
    
      
  

  <div *ngIf="myAngularxQrCode">
    <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
  
  
  <ion-header collapse="condense">
    <ion-toolbar>
    
    </ion-toolbar>
  </ion-header>
</ion-content>
