body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .icono-grande {
    font-size: 2em; /* Ajusta el tamaño según tus necesidades */
}
  .encabezado {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  .encabezado ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .encabezado li {
    font-weight: bold;
  }

.usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2em;
}
.contenedordoc{
  margin: auto;
  border: 1em;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2em;
  background-color: white;
  box-shadow: 0 4px 8px rgba(29, 25, 25, 0.75);
  border-radius: 30px;
  width: 70%;
}
.user{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3em;
  position: relative;
  color: black;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2em;
  position: relative;
}

ion-content{

  --ion-background-color:hsl(183, 26%, 86%);
}


  .contenedor-asig{
    ul{
      width: 1200px;
      margin: auto;
      left: -15px;
      position: relative;
    }
    li{
      list-style: none;
      width: 100%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    p{
      width: 100%;
      
    }
    .titulocard{
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .botonqr{
      justify-content: center;
      
      display: flex;
    }

  }
