<ion-header [translucent]="true">
  <ion-toolbar class="encabezado">
    <div class="tiutlo" >
      <div class="icono">
        <ion-buttons>
          <ion-button (click)="cerrarSesion()">
            Cerrar sesión
          </ion-button>
        </ion-buttons>
      </div>
    
      <ion-title>RegistrAPP</ion-title>
    
    </div>
    
    
    
  </ion-toolbar>
</ion-header>

<ion-content >
  
    <div class="content-container">
      
      <div class="titulo">
        
        <h1>Bienvenido</h1>
        <br>
      </div>
      <div class="avatar">
        <ion-avatar >
          <img alt="Silhouette of a person's head" class="imagen" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        </div>
      <br>
      <br>
      <div *ngIf="user" class="user">
        <p>Usuario: {{ user?.usuario }}</p>
        <!-- Resto del contenido de la página home -->
      </div>
      
      <br>

      <!-- Agrega los botones para escanear y detener el escaneo -->
        <div class="barcode-actions" class="boton">
          <ion-button ion-button (click)="escanearCodigoQR()">Escanear Código QR h</ion-button>
         
        </div>
        
        <br><br><br><br>
        
    </div>
  <div>
    <br><br>
  </div>
  
</ion-content>
