
ion-content{
  
  --ion-background-color:#ebebeb;
}
.icono{
  display: flex;
    justify-content: end;
    width: 10%;
    margin: auto;
    position: absolute;
    left: 80%;
} 
.encabezado{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.content-container {
  position: relative;
  margin: auto;
  border: 1em;
  top: 5em;
  background-color: black;
  box-shadow: 0 4px 8px rgba(173, 164, 164, 0.75);
  border-radius: 30px;
  width: 70%;

}


h1{
  display: flex;
  justify-content: center;
  position: relative;
  top: 1em;
}
.avatar{
  display: flex;
  justify-content: center;
  top: 1em;
  position: relative;
  margin: 1em;
  height: 6em;
}

.imagen{
  width: 8em;
  margin: auto;
  height: 7em;
  position: relative;
  left: -1.5em;
  max-width: 200%;
}
.user{
  display: flex;
  justify-content: center;
}
.boton{
  display: flex;
  justify-content: center;

}
.confirmar{
  display: flex;
  justify-content: center;
}

